body {
    margin: 0;
    padding: 0;
    font-family: tahoma;
    background: #E5E5E5;
}
ul, ol, h1, h2, h3, h4, h5, p {
   font-weight: normal;
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}
a.go-back {
    background: none repeat scroll 0 0 #3498db;
    border-radius: 4px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px;
    overflow: hidden;
    display: inline-block;
    text-decoration: none;
    font-family: tahoma;
    transition: all .4s;
}
a.go-back i {
    font-size: 22px;
}
a.go-back:hover {
    background: #2980b9;
    
}
.product-area {
    overflow: hidden;
    min-height: 450px;
    margin: auto;
    margin-top: 15px;
}
.product-image {
    width: 40%;
    float: left;
    overflow: hidden;
    margin-right: 3%;
    background: #FFFFFF;
    border-radius: 5px;
    border-top: 5px solid #8cc474;
}
.product-image img {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
}
.product-heading {
    background: none repeat scroll 0 0 #ffffff;
    border-top: 5px solid #e46f61;
    box-sizing: border-box;
    color: #2c3e50;
    float: left;
    height: 458px;
    overflow: hidden;
    padding: 2%;
    width: 57%;
    border-radius: 5px;
}
.product-heading h1 {
    padding: 5px 0;
    font-size: 30px;
}
.product-heading h2 {
    padding: 5px 0;
    font-size: 24px;
}
.product-heading h3 {
    background: none repeat scroll 0 0 #3498db;
    border-radius: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 6%;
    text-shadow: 1px 1px 1px #666;
}
.product-heading h4 {
    font-size: 16px;
}
.product-heading p {
    font-size: 14px;
    margin: 20px 0;
    text-align: justify;
}
.product-heading a {
    color: #2980b9;
    text-decoration: none;
}
.product-heading a:hover {
    text-decoration: underline;
}
.product-details {
    float: left;
    overflow: hidden;
    width: 65%;
    margin-right: 3%
}
.price-rating-socialbar {
    margin-top: 46px;
    float: right;
    padding: 12px 0;
}
.ratings {
    margin: 10px 0;
    color: #e67e22;
}
.ratings p {
    margin: 0;
}
.social-icon h5 {
    padding: 5px 0;
    font-weight: bold;
}
.social-icon i {
    color: #3498db;
    padding: 5px;
    background: #ecf0f1;
    border-radius: 4px;
}
.social-icon i:hover {
    background: #3498db;
    color: #FFFFFF;
}
.location-area {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    border-top: 5px solid #3498db;
    margin: 20px 0;
    overflow: hidden;
}
.map{
    float: right;
    padding: 10px;
    width: 59%;
}
.map img{
    width: 100%;
}
.location-text{
    color: #2c3e50;
    float: left;
    font-size: 16px;
    text-align: left;
    width: 32%;
	margin-left: 5%;
}
.location-text p {
	
}
.location-text i {
    color: #f86056;
	display: block;
	font-size: 24px;
	margin-right: 5%;
	margin-top: 50px;
    
}


/* RESPONSIVE CODE */

@media all and (max-width:1080px){
    .product-area {
      margin: 15px 0;
      overflow: hidden;
        min-height: 0;
    }
    .product-details {
        float: none;
        width: 100%;
        margin-right: 3%
    }
    .price-rating-socialbar {
        margin-top: -182px;
        float: right;
        padding: 12px 0;
    }
    .product-image img {
      height: 408px;
    }
    .product-heading {
      padding: 17px;
        height: auto;
    }
    
}

@media all and (max-width:990px){
    .product-image {
        width: 100%;
        float: none;
        overflow: hidden;
        margin-right: 3%;
        margin: auto;
    }
    .product-image img {
      
      display: block;
      height: 450px;
      margin: auto;
      width: 450px;
    }
    .product-heading {
    
    float: left;
    height: auto;
    overflow: hidden;
    padding: 2%;
    width: 100%;
    margin-top: 15px;
    }
    .product-details {
      float: left;
      margin-right: 3%;
      width: 70%;
    }
    .price-rating-socialbar {
      float: right;
      padding: 12px 0;
    margin-top: 40px;
    }
}
@media all and (max-width:880px){
    .location-text i {
      margin-top: 20px;
    }
	.location-text p {
      font-size: 14px;
    }
}
@media all and (max-width:675px){
    .product-image img {
      display: block;
      height: 450px;
      margin: auto;
      width: 83%;
    }
    .product-heading {
      padding: 3%;
    }
    .product-details {
      float: none;
      margin-right: 0;
      width: 100%;
    }
    .price-rating-socialbar {
      float: right;
      margin-top: -175px;
      padding: 12px 0;
    }
    .location-text {
      color: #2c3e50;
	float: none;
	font-size: 16px;
	text-align: left;
	width: 98%;
	margin-left:2%;
    }
    
    .map {
	  float: none;
	padding: 10px;
	width: 95%;
	}
		.map img {
	  width: 100%;
	}
}

@media all and (max-width:530px){
    
    .container {
        width: 90%;
    }
    
    .product-image img {
      height: auto;
      margin: auto;
      width: 83%;
    }
    .product-details {
      overflow: hidden;
      width: 100%;
    }
    .product-heading p {
      margin: 10px 0;
    }
    .price-rating-socialbar {
      float: left;
      margin-top: 0;
      padding: 12px 0;
    }
}




